
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
}

html {
    height: 100%;
}

.mainAppPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto";
}

.appMenu {
    flex: 1 auto;
    background: #0252A2;
    padding: 10px;
}


.appContent {
    flex: 1 1 100%;
}


paper-dialog {
    border-radius: 3px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.31);
}

paper-dialog .buttons {
    background-color: transparent !important;
    padding: 15px;
}



.roomItem {
    border: 1px solid #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    border-radius: 0px;
    background-color: #ffffff;
    padding: 10px;
    display: block;
}


    .roomItem h1 {
        padding: 10px;
    }


    .roomItem:link {
        text-decoration: none;
    }