<link rel="import" href="/sys/polymer/polymer.html">
<link rel="import" href="/sys/juicy-select/juicy-select.html">
<template>
    <dom-bind><template is="dom-bind">
        <div class="pluginItems">

            <h5>Room Booking</h5>

            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="{{model.Enable$::change}}" placeholder="Enable">Enable
                </label>
            </div>

            <label>Connected to:</label>

            <juicy-select caption-text="Select room" value="{{model.SelectedRoomId$}}" options="{{model.Rooms}}" text-property="Name" value-property="Id">
                <select class="form-control"></select>
            </juicy-select>

        </div>
    </template></dom-bind>

</template>